@{
    ViewBag.Title = "GDOC - Gerenciador de Documentos - versão 1.0";
}

<div class="jumbotron">
    <h1>GDOC - Gerenciador de Documentos</h1>
    
</div>

<div class="row">
    <div class="col-md-8">
        <p>
            Gerencie aqui seus documentos de forma simples
        </p>
    </div>
</div>